<div class="row mt-5">
  <div class="card shadow col-sm-4 col-sm-offset-4 mx-auto">
    <div class="card-body">
      <form action="/users/{{this.user.username}}/edit" method="post">
        <h1>
          @{{this.user.username}}
        </h1>
        <div class="form-group mb-2">
          <div class="form-floating mb-3">
            <input
              type="text"
              name="name"
              class="form-control"
              id="name"
              value="{{this.user.name}}"
              placeholder="Name"
            />
            <label for="name">
              Name
            </label>
          </div>
        </div>
        <div class="text-right">
          <button type="submit" class="btn btn-primary">
            Update
          </button>
        </div>
      </form>
    </div>
  </div>
</div>